@font-face {
    font-family: 'Digital-7';
    src: url(Font/digital-7-font/Digital7-rg1mL.ttf);
}

div h1 {
    color: rgb(228, 21, 21);
    font-family: 'Digital-7';
}

.victory_screen {
    color: rgba(21, 228, 59, 0.854);
    font-size: 40px;
    font-family: 'Digital-7';
    text-align: center;
}

#victory-line {
    color: rgb(21, 228, 59);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}


@keyframes slideIn{
        from{
            transform: translateY(-40px) scale(0.9);
            opacity: 0;
    }

    to {
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

.notification {
    animation: slideIn .45s cubic-bezier(0.34,1.56,0.64, 1);
    animation-fill-mode: backwards;
}

.notification:nth-child(1){animation-delay: 0s; }
.notification:nth-child(2){animation-delay: 0.1s; }
.notification:nth-child(3){animation-delay: 0.2s; }


.notification {

    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.profile-circle {
    width: 60px;
    height: 60px;

    border-radius: 50%;
    background: #111;
    border: 3px solid red;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 35px;
    box-shadow: 0 0 10px red;
}

.bubble {
    width: 220px;
    background: #111;
    color: white;

    border-radius: 20px;
    padding: 15px;

    cursor: pointer;
    border-left: 5px solid red;
    box-shadow: 0 0 15px rgba(255, 0, 0, .4);
    transition: .3s ease;
}

.bubble::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #111;
}

.bubble.expanded::before{
    border-right-color: #252525;
}

.details {
    display: none;
}

.bubble.expanded {
    width: 350px;
    background: #252525;
}

.bubble.expanded .details {
    display: block;
}

#timer {
    position: fixed;
    top: 30px;
    left: 50%;

    transform: translateX(-50%);
    font-family: 'Digital-7';

    font-size: 80px;
    color: red;
    opacity: 0.75;
    z-index: 0;

}

#event-bubble {
    position: fixed;
    top: 150px;
    left: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
}